*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #b415ff;
  border-radius: 5px;
}

body {
  font-family: 'outfit';
  height: 100vh;
  background-color: #161513;
  color: #fff;
}